.banner {
  //padding: 20% 5%;
  min-height: 70vh;
  background-color: #dd3333;
  border-radius: 0 0 30px 30px;
  a {
    color: white;
  }
}

.name {
  font-size: 4em;
  color: white;
  margin-top: 0;
  //max-width: 500px;
}

.description {
  color: white;
  max-width: 500px;
  font-size: 2.0rem;
}

.link {
  font-size: 1.7em;
  padding: 1rem;
  margin: 0 auto;
  width: fit-content;
  border-style: solid;
}